* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*........... Header section start over here ...........*/

.header-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 10%;
    background-image: url('/images/banner/banner3.png');
    background-position: center;
    height: 600px;
    width: 100%;
}

.title {
    width: 40%;
    text-align: right;
    color: white;
}

.title h1 {
    font-size: 40px;
    margin: 0px 0px 20px;
    text-align: 40px;
}

.title button {
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid wheat;
    color: crimson;
    padding: 5px 15px;
    margin-top: 20px;
}

/*............. Header section end............. */


/* .............failure section start .............*/
.failure-section {
    padding: 80px 10%;
    display: flex;
    align-items: center;
}


li {
    list-style: none;
    background-image: url("/images/icons/check-mark.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10px 25px;
    background-size: 15px;
}

.failure-section>div {
    width: 50%;
}

.img-portion img {
    width: 300px;
}

.image-portion img {
    width: 200px;
    height: 200px;
}

.text-portion h3 {
    margin: 0px 0px 20px;
    font-size: 27px;
}


/*........... My plan section's css ...........*/

.my-plan {
    padding: 80px 10%;
}

.my-plan-parent {
    display: flex;
    justify-content: space-between;
}

.my-plan-parent>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-plan-parent>div>img {
    width: 45px;
    margin-bottom: 14px;
}

.my-plan-parent>div>p {
    font-size: 12px;
    margin: 10px;
}

/*........ My-plans section ends over here........ */



/*........ Positive mindset section start over here........ */

.positive {
    margin: 50px 10%;
    /* background-image: url(/images/watch.png); */
}

.positive-mindset {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(10, 60, 241, 0.4), rgba(222, 216, 233, 0.1)), url(/images/watch.png);
    height: 200px;
    padding: 0px 35px;
}

.positive-mindset button {
    width: fit-content;
    padding: 5px 12px;
    font-weight: bold;
    margin-top: 20px;
}